* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
}

body, html {
    font-family: var(--montserrat);
}

header {
    position: relative;
    display: flex;
    align-items: center;
}

.box-menu-logo {
    display: flex;
    width: 100%;
    margin-top: 5px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: left;
    padding-left: 5%;
}

.input-menu-mobile {
    position: relative;
    top: 0;
    right: 0;
    margin-right: 2%;
    width: 28px;
    height: 28px;
    border: none;
    background-color: white;
    background-image: url('../images/menu.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.menu {
    z-index: 100;
    position: absolute;
    top: 35px;
    display: none;
    text-align: center;
    background-color: white;
    width: 100%;
}

.menu ul {
    width: 100%;
}

.menu ul li {
    list-style: none;
    line-height: 1.5;
    width: 100%;
}

.menu ul li a {
    font-weight: 500;
    text-decoration: none;
    color: #4b4b4b;
    text-transform: uppercase;
    display: block;
}

.menu ul li a:hover {
    color: #ccc;
}

main {
    padding: 0 0;
}

.mosaic-wraper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.mosaic-children {
    display: block;
    width: calc(100% / 6);
    max-width: 300px;
    border: 2px solid white;
}

.img-mosaic {
    width: 100%;
    height: 100%;
    max-width: 300px;
}

.intro {
    position: relative;
    top: -25px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2%;
    color: white;
}

.box-intro {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.child-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2%;
    margin: 0;
    text-align: center;
    background-color: #3b3b3b;
}

.child-intro:nth-of-type(2) {
    max-width: 350px;
    background-color: #5b5b5b;
}

.child-intro:nth-of-type(1), .child-intro:nth-of-type(3) {
    width: calc(100% - 20px);
    max-width: 300px;
}

.child-intro h2 {
    font-size: 16px;
}

.child-intro p {
    padding: 4% 0;
    max-width: 200px;
    font-size: 12px;
}

.container-profile {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.box-img-profile {
    padding: 0 10%;
    text-align: center;
}

.img-profile {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.content-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-profile h2 {
    font-size: 20px;
    color: rgb(21, 73, 107);
    text-align: center;
    padding-bottom: 10px;
}

.content-profile p {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 15px;
    max-width: 450px;
}

.container-profile p:last-child {
    padding-bottom: 0;
}

@media screen and (min-width: 600px) {
    .content-profile p {
        text-align: justify;
    }
}

@media screen and (min-width: 768px) {
    .intro {
        top: -55px;
    }

    .box-intro {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .child-intro:nth-of-type(2) {
        height: 100%;
        min-height: 280px;
    }

    .child-intro h2 {
        font-size: 20px;
    }
    
    .child-intro p {
        font-size: 16px;
    }

    .container-profile {
        margin-top: -55px;
        flex-direction: row;
        justify-content: center;
    }

    .content-profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
}

@media screen and (min-width: 992px) {
    header {
        flex-direction: row;
    }

    .logo {
        padding-top: 10px;
    }

    .input-menu-mobile {
        display: none;
    }

    .menu {
        position: relative;
        top: 0;
        display: flex;
        width: 100%;
    }

    .menu ul li {
        display: inline-block;
        margin: 0 10px;
        width: auto;
    }
}