* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
}

body, html {
    font-family: var(--montserrat);
}

header {
    position: relative;
    display: flex;
    align-items: center;
}

.box-menu-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-align: left;
    padding-left: 5%;
}

.input-menu-mobile {
    width: 50px;
    height: 40px;
    padding: 3px;
    margin: 2% 2% 0 0;
    border: none;
    border-radius: 10px;
    background-image: url('../images/menu.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.input-menu-mobile:hover {
    background-color: rgb(100, 100, 100);
}

.input-menu-mobile:hover:focus {
    background-color: rgb(100, 100, 100);
}

.menu {
    position: absolute;
    top: 46px;
    display: none;
    text-align: center;
    background-color: #ccc;
    width: 100%;
}

.menu ul {
    width: 100%;
}

.menu ul li {
    list-style: none;
    line-height: 1.5;
    width: 100%;
}

.menu ul li a {
    font-weight: 500;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
}

.menu ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

main {
    padding: 0 0;
}

.box-mosaic {
    display: inline-block;
    width: 100%;
}

.mosaic-wraper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
}

.mosaic-wraper:nth-of-type(2) {
    display: none;
}

.mosaic-children {
    display: none;
    width: 100%;
    max-width: 300px;
    height: 100%;
    max-height: 300px;
    border: 5px solid white;
    background-color: #ccc;
}

.first {
    display: block;
}

.img-mosaic {
    width: 100%;
    height: 100%;
    max-width: 300px;
}

.intro {
    width: 100%;
    max-width: 1200px;
    height: 200px;
    margin: 0 auto;
    padding: 0 2%;
    color: white;
}

.box-intro {
    position: relative;
    top: -45px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.child-intro {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 450px;
    height: 250px;
    padding: 2%;
    margin: 0;
    text-align: center;
    background-color: #3b3b3b;
}

.child-intro:nth-of-type(1), .child-intro:nth-of-type(3) {
    display: none;
    margin: 0;
}

.bullets {
    width: 100%;
}

.bullets span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.bullets span:nth-of-type(1) {
    background-color: #000000;
}

.container-profile {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 2%;
}

.box-img-profile {
    text-align: center;
}

.img-profile {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.content-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-profile h2 {
    font-size: 20px;
    color: darkblue;
    text-align: center;
    padding-bottom: 10px;
}

.content-profile p {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 15px;
    max-width: 450px;
}

.container-profile p:last-child {
    padding-bottom: 0;
}

@media screen and (min-width: 600px) {
    .menu {
        top: 52px; 
    }

    .second {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    .menu {
        top: 55px;
    }

    .box-intro {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .child-intro:nth-of-type(1), .child-intro:nth-of-type(3) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 225px;
        background-color: #5b5b5b;
    }

    .bullets {
        display: none;
    }

    .container-profile {
        flex-direction: row;
        justify-content: center;
    }

    .content-profile {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
    }
}

@media screen and (min-width: 992px) {
    header {
        flex-direction: row;
    }

    .logo {
        padding-top: 10px;
    }

    .input-menu-mobile {
        display: none;
    }

    .menu {
        position: relative;
        top: 0;
        display: block;
        width: 100%;
        background-color: #ffffff;
    }

    .menu ul li {
        display: inline-block;
        margin: 0 10px;
        width: auto;
    }

    .menu ul li a:hover {
        background-color: #ffffff;
        color: rgb(150, 150, 150);
    }

    .third, .fourth {
        display: block;
    }
}

@media screen and (min-width: 1200px) {
    .mosaic-children {
        display: block;
    }

    .mosaic-wraper:nth-of-type(2) {
        display: flex;
    }
}