* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --montserrat: 'Montserrat', sans-serif;
}

body, html {
    font-family: var(--montserrat);
}

header {
    padding: 10px 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-menu-logo {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.logo {
    width: 100%;
    text-align: center;
}

.input-menu-mobile {
    width: 50px;
    height: 40px;
    padding: 3px;
    border: none;
    border-radius: 10px;
    background-image: url('../images/menu.png');
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
    background-color: rgb(200, 200, 200);
    cursor: pointer;
}

.input-menu-mobile:hover {
    background-color: rgb(100, 100, 100);
}

.input-menu-mobile:hover:focus {
    background-color: rgb(100, 100, 100);
}

.menu {
    display: none;
    text-align: center;
    background-color: #ccc;
    width: 100%;
}

.menu ul {
    width: 100%;
}

.menu ul li {
    list-style: none;
    line-height: 1.5;
    width: 100%;
}

.menu ul li a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    display: block;
}

.menu ul li a:hover {
    background-color: #000000;
    color: #ffffff;
}

@media screen and (min-width: 992px) {
    header {
        flex-direction: row;
    }

    .logo {
        padding-top: 10px;
    }

    .input-menu-mobile {
        display: none;
    }

    .menu {
        display: block;
        width: 100%;
        background-color: #ffffff;
    }

    .menu ul li {
        display: inline-block;
        margin: 0 10px;
        width: auto;
    }

    .menu ul li a:hover {
        background-color: #ffffff;
        color: rgb(150, 150, 150);
    }
}